#card-widget-calendar
    .card-content
        .calendar-container
            #calendar-area-left
                .left-content
                    #calendar-week
                    #calendar-date(style="font-size: 48px;")
                    #calendar-solar
                    #calendar-lunar
            
            #calendar-area-right
                .right-content
                    #calendar-main